<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
		<% @essay.each_with_index do |e, index| %>
			<% if index % 2 == 0 %>
				<div class="row-fluid">
			<% end %>
        <div class="span6">
          <h2>Topic #<%= e.topic.id%></h2>
          <p><%= e.topic.content%></p>
          <h3>Essay #<%= e.id%></h3>
          <p><%= e.summary %></p>
          <a class="btn btn-block btn-success" href="/study/read/<%=e.id%>"><span class="btn-label">Read more</span></a> 
        </div>
			<% if index % 2 == 1 %>
				</div>
			<% end %>
		<% end %>
		<% if @essay.count % 2 != 0 %>
			</div>
		<% end %>
    </div><!-- span 8 -->
    <div class="span4">
      <div class="well">
				<%= render "dic" %>
      </div>
    </div>
  </div>
</div>
