<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 well">
			<h1>Essays</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Topic (Click to new essay)</th>
            <th>Essay Title (Click to read)</th>
            <th>Author</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
					<% @essay.each do |e| %>
          <tr>
            <td><%=e.id%></td>
            <td onclick="location.href='/study/write/<%=e.topic.id%>'" style="cursor:pointer;"><%=e.topic.content.html_safe%></td>
            <td onclick="location.href='/study/read/<%=e.id%>'" style="cursor:pointer;"><%=e.summary%></td>
            <td onclick="location.href='/study/essay/<%=e.username%>'" style="cursor:pointer;"><%=e.username%></td>
            <td>
              <a href="/study/comment/<%=e.id%>" class="btn btn-info">Comments</a> 
            </td>
          </tr>
					<% end %>
        </tbody>
      </table>
    </div><!-- span 8 -->
    <div class="span4">
      <div class="well">
				<%= render "dic" %>
      </div>
    </div>
  </div>
</div>
