<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
			<h3>Topic #<%=@topic.id%></h3>
      <div class="well">
        <p><%=@topic.content.html_safe%></p>
      </div>
      <h3>Essay #<%=@essay.id%></h3>
      <div class="well">
        <p><%=simple_format(@essay.content)%></p>
        <p class="muted">- <%=@essay.username%>, <%=@essay.created_at.to_formatted_s(:long_ordinal)%></p>
      </div>
      <a href="/study/comment/<%=@essay.id%>" class="btn btn-block btn-info btn-large">Comment</a>
      <h3>Other essays in topic #<%=@topic.id%></h3>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
				<% @essays.each_with_index do |l, index| %>
          <tr onclick="location.href='/study/read/<%=l.id%>'" style="cursor:pointer;">
            <td><%=index+1%></td>
            <td><p><%=truncate(l.summary, length: 50)%></p></td>
            <td><%=l.username%></td>
            <td>
              <a href="/study/read/<%=l.id%>" class="btn btn-success btn-small">Read</a> 
            </td>
          </tr>
				<% end %>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <div class="well">
				<%= render "dic" %>
      </div>
    </div>
  </div>
</div>
