<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 well">
      <h1>Topics</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Topic</th>
            <th>New Essay</th>
          </tr>
        </thead>
        <tbody>
					<% @topic.each do |t| %>
          <tr>
            <td><%=t.id%></td>
            <td onclick="location.href='/study/essay/<%=t.id%>'"
    style="cursor:pointer;"><%=t.content.html_safe%>
              <span class="badge badge-important"><%=t.count%></span> 
            </td>
            <td>
              <a href="/study/write/<%=t.id%>" class="btn btn-primary">Write</a> 
            </td>
          </tr>
					<% end %>
					<tr>
						<td colspan="2">
						<%= form_tag(controller: "study", action: "topic_process", method: "post") %>
							<input type="text" name="content" placeholder="Type new topic here" class="search-query input-block-level">
						</td>
						<td>
							<button type="submit" class="btn btn-warning">Upload</button>
						</form>
						</td>
					</tr>
        </tbody>
      </table>
    </div><!-- span8 -->
    <div class="span4">
      <div class="well">
				<%= render "dic" %>
      </div>
    </div>
  </div>
</div>
