<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="well">
        <h1>Topic #<%=@topic.id%></h1>
        <pre><%=@topic.content%></pre>
      </div>
      <h1>Write essay here</h1>
			<%= form_tag(controller: "study", action: "write_process") %>
			<input type="text" name="title" placeholder="Input title" class="input-block-level">
			<input type="hidden" name="id" value="<%=@topic.id%>">
      <textarea class="input-block-level" rows="20" name="content" placeholder="Type content"></textarea>
      <button type="submit" class="btn btn-block btn-danger btn-large">Save</a> 
			</form>
    </div>
    <div class="span4">
      <div class="well">
				<%= render "dic" %>
      </div>
    </div>
  </div>
</div>
